.wrapper {
  padding-top: 1rem;
}

.wrapper a {
  --tw-text-opacity: 1;
  color: hsl(var(--nextra-primary-hue) 100% 45% / var(--tw-text-opacity));
}

.wrapper h3 {
  font-weight: 600;
}

.wrapper .row {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.wrapper .row > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .row > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
