# AWS SAM
.aws
.aws-sam
deploy.yml
deploy.yaml
node_modules
samconfig.toml
env.json
package.yml
package.yaml
samconfig.*

# NodeJS Build
coverage
node_modules

# Secrets
.env
env.json

# Terraform
.terraform*
*.tfstate*
*.tfvars

# Misc
.vscode
*~undo-tree~
.DS_Store
sharp-lambda-layer.*
*.log
.vscode
