# AWS SAM
.aws
.aws-sam
deploy.yaml
package.yml
samconfig.toml

# NodeJS Build
coverage
node_modules

# Secrets
.env
env.json

# Terraform
.terraform*
*.tfstate*
*.tfvars

# Misc
.vscode
*~undo-tree~
.DS_Store
sharp-lambda-layer.*
*.log